# Directories #
#*.properties

# OS Files #
.DS_Store
 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db
rebel.xml

######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# NetBeans
######################

 
######################
# IDEA
######################
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml

 
######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath

# Testing environment specific
derby.log


######################
# Liberty tools
######################

.factorypath
/PetCare/PetCare-ejb/dist/
/PetCare/PetCare-war/dist/
PetCare/dist/gfdeploy/PetCare/PetCare-ejb_jar/META-INF/MANIFEST.MF
PetCare/dist/gfdeploy/PetCare/PetCare-ejb_jar/resouces.res
PetCare/dist/gfdeploy/PetCare/PetCare-ejb_jar/vn/aptech/entity/Accounts.rapt
PetCare/dist/gfdeploy/PetCare/PetCare-ejb_jar/vn/aptech/entity/Articles.rapt
PetCare/dist/gfdeploy/PetCare/PetCare-ejb_jar/vn/aptech/entity/Categories.rapt
PetCare/dist/gfdeploy/PetCare/PetCare-ejb_jar/vn/aptech/entity/Contact.rapt
PetCare/dist/gfdeploy/PetCare/PetCare-ejb_jar/vn/aptech/entity/Feedback.rapt
PetCare/dist/gfdeploy/PetCare/PetCare-ejb_jar/vn/aptech/entity/OrderDetails.rapt
PetCare/dist/gfdeploy/PetCare/PetCare-ejb_jar/vn/aptech/entity/Orders.rapt
PetCare/dist/gfdeploy/PetCare/PetCare-ejb_jar/vn/aptech/entity/PetGuides.rapt
PetCare/dist/gfdeploy/PetCare/PetCare-ejb_jar/vn/aptech/entity/Products.rapt
PetCare/dist/gfdeploy/PetCare/PetCare-war_war/META-INF/MANIFEST.MF
PetCare/nbproject/private/private.properties
PetCare/PetCare-ejb/build/classes/META-INF/MANIFEST.MF
PetCare/PetCare-ejb/build/classes/resouces.res
PetCare/PetCare-ejb/build/classes/vn/aptech/entity/Accounts.rapt
PetCare/PetCare-ejb/build/classes/vn/aptech/entity/Articles.rapt
PetCare/PetCare-ejb/build/classes/vn/aptech/entity/Categories.rapt
PetCare/PetCare-ejb/build/classes/vn/aptech/entity/Contact.rapt
PetCare/PetCare-ejb/build/classes/vn/aptech/entity/Feedback.rapt
PetCare/PetCare-ejb/build/classes/vn/aptech/entity/OrderDetails.rapt
PetCare/PetCare-ejb/build/classes/vn/aptech/entity/Orders.rapt
PetCare/PetCare-ejb/build/classes/vn/aptech/entity/PetGuides.rapt
PetCare/PetCare-ejb/build/classes/vn/aptech/entity/Products.rapt
PetCare/PetCare-ejb/build/generated-sources/ap-source-output/vn/aptech/entity/Accounts_.java
PetCare/PetCare-ejb/build/generated-sources/ap-source-output/vn/aptech/entity/Categories_.java
PetCare/PetCare-ejb/build/generated-sources/ap-source-output/vn/aptech/entity/Contact_.java
PetCare/PetCare-ejb/build/generated-sources/ap-source-output/vn/aptech/entity/Feedback_.java
PetCare/PetCare-ejb/build/generated-sources/ap-source-output/vn/aptech/entity/OrderDetails_.java
PetCare/PetCare-ejb/build/generated-sources/ap-source-output/vn/aptech/entity/Orders_.java
PetCare/PetCare-ejb/build/generated-sources/ap-source-output/vn/aptech/entity/PetGuides_.java
PetCare/PetCare-ejb/build/generated-sources/ap-source-output/vn/aptech/entity/Products_.java
PetCare/PetCare-ejb/nbproject/private/private.properties
PetCare/PetCare-war/build/web/META-INF/MANIFEST.MF
PetCare/PetCare-war/nbproject/private/private.properties
