USE [PetcareDB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 2/23/2020 3:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](200) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[Fullname] [nvarchar](200) NULL,
	[Email] [varchar](200) NULL,
	[Phone] [int] NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Role] [tinyint] NOT NULL,
	[IsInactive] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[ReasonBanned] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2/23/2020 3:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CateId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[DateUpdated] [datetime] NULL,
	[DateCreated] [datetime] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 2/23/2020 3:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[FeedbacktId] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](200) NOT NULL,
	[Email] [varchar](200) NOT NULL,
	[Phone] [int] NULL,
	[Content] [nvarchar](2000) NOT NULL,
	[IsRead] [bit] NULL,
	[DateCreated] [datetime] NULL,
	[AccId] [int] NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[FeedbacktId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 2/23/2020 3:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OdId] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProdId] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2/23/2020 3:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[AccId] [int] NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[IsDeliveried] [bit] NOT NULL,
	[DateUpdated] [datetime] NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetGuides]    Script Date: 2/23/2020 3:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetGuides](
	[PetGuideId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ImageName] [varchar](200) NULL,
	[IsNew] [bit] NULL,
	[DateUpdated] [datetime] NULL,
	[DateCreated] [datetime] NULL,
	[AccId] [int] NOT NULL,
 CONSTRAINT [PK_PetGuides] PRIMARY KEY CLUSTERED 
(
	[PetGuideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 2/23/2020 3:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](200) NOT NULL,
	[Desciption] [nvarchar](300) NULL,
	[ProdId] [int] NOT NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2/23/2020 3:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProdId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[ImageName] [varchar](200) NULL,
	[Quantity] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
	[IsNew] [bit] NOT NULL,
	[DateUpdated] [datetime] NULL,
	[DateCreated] [datetime] NOT NULL,
	[AccId] [int] NOT NULL,
	[CateId] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductUnits]    Script Date: 2/23/2020 3:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductUnits](
	[UnitId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
	[DateCreated] [datetime] NULL,
	[DateUpdated] [datetime] NULL,
 CONSTRAINT [PK_ProductUnits] PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccId], [Username], [Password], [Fullname], [Email], [Phone], [Address], [Role], [IsInactive], [DateCreated], [ReasonBanned]) VALUES (1, N'admin', N'admin', N'Administrator', N'admin@gmail.com', 933113114, N'590 CMT8', 2, 0, CAST(N'2020-01-12T18:02:43.797' AS DateTime), NULL)
INSERT [dbo].[Accounts] ([AccId], [Username], [Password], [Fullname], [Email], [Phone], [Address], [Role], [IsInactive], [DateCreated], [ReasonBanned]) VALUES (2, N'user', N'user', N'User', N'user@gmail.com', 902123321, N'21 Bui Thi Xuan', 0, 0, CAST(N'2020-01-12T19:05:26.450' AS DateTime), NULL)
INSERT [dbo].[Accounts] ([AccId], [Username], [Password], [Fullname], [Email], [Phone], [Address], [Role], [IsInactive], [DateCreated], [ReasonBanned]) VALUES (3, N'phuong.nd', N'123456', N'Phuong Ngo', N'phuong.ngo@gmail.com', 762327226, N'70 Nguyễn Sỹ Sách', 1, 0, CAST(N'2020-01-12T19:07:49.313' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CateId], [Name], [Description], [DateUpdated], [DateCreated]) VALUES (1, N'Dog Food', N'This is products for Dog', CAST(N'2020-02-22T10:23:20.933' AS DateTime), NULL)
INSERT [dbo].[Categories] ([CateId], [Name], [Description], [DateUpdated], [DateCreated]) VALUES (2, N'Skin care', N'Products about take care skin for pets.', CAST(N'2020-02-23T14:36:02.157' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([FeedbacktId], [Fullname], [Email], [Phone], [Content], [IsRead], [DateCreated], [AccId]) VALUES (1, N'asdf', N'asdf', 44654, N'sdafasfd', 0, CAST(N'2020-01-12T22:25:30.363' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [AccId], [IsVerified], [IsDeliveried], [DateUpdated], [DateCreated]) VALUES (1, 1, 0, 0, NULL, CAST(N'2020-01-14T09:17:20.700' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[PetGuides] ON 

INSERT [dbo].[PetGuides] ([PetGuideId], [Title], [Content], [ImageName], [IsNew], [DateUpdated], [DateCreated], [AccId]) VALUES (1, N'Test Title', N'Lorem Ipsum...tét', N'test.jpg', 0, NULL, CAST(N'2020-01-12T19:17:36.627' AS DateTime), 1)
INSERT [dbo].[PetGuides] ([PetGuideId], [Title], [Content], [ImageName], [IsNew], [DateUpdated], [DateCreated], [AccId]) VALUES (3, N'Dog', N'Lorem ipsum....', NULL, 0, NULL, CAST(N'2020-01-14T09:22:07.367' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PetGuides] OFF
SET IDENTITY_INSERT [dbo].[ProductUnits] ON 

INSERT [dbo].[ProductUnits] ([UnitId], [Name], [Description], [DateCreated], [DateUpdated]) VALUES (1, N'pieces', N'pcs', NULL, NULL)
INSERT [dbo].[ProductUnits] ([UnitId], [Name], [Description], [DateCreated], [DateUpdated]) VALUES (14, N'kilograms', N'kg', NULL, NULL)
INSERT [dbo].[ProductUnits] ([UnitId], [Name], [Description], [DateCreated], [DateUpdated]) VALUES (15, N'grams', N'gr', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProductUnits] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [U_Name]    Script Date: 2/23/2020 3:33:03 PM ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [U_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_Role]  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_IsInactive]  DEFAULT ((0)) FOR [IsInactive]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  CONSTRAINT [DF_Feedback_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  CONSTRAINT [DF_Feedback_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_IsVerified]  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_IsDeliveried]  DEFAULT ((0)) FOR [IsDeliveried]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[PetGuides] ADD  CONSTRAINT [DF_PetGuides_IsNew]  DEFAULT ((0)) FOR [IsNew]
GO
ALTER TABLE [dbo].[PetGuides] ADD  CONSTRAINT [DF_Articles_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsNew]  DEFAULT ((1)) FOR [IsNew]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[ProductUnits] ADD  CONSTRAINT [DF_ProductUnits_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[ProductUnits] ADD  CONSTRAINT [DF_ProductUnits_DateUpdated]  DEFAULT (getdate()) FOR [DateUpdated]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Accounts] FOREIGN KEY([AccId])
REFERENCES [dbo].[Accounts] ([AccId])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedback_Accounts]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProdId])
REFERENCES [dbo].[Products] ([ProdId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Accounts] FOREIGN KEY([AccId])
REFERENCES [dbo].[Accounts] ([AccId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Accounts]
GO
ALTER TABLE [dbo].[PetGuides]  WITH CHECK ADD  CONSTRAINT [FK_PetGuides_Accounts] FOREIGN KEY([AccId])
REFERENCES [dbo].[Accounts] ([AccId])
GO
ALTER TABLE [dbo].[PetGuides] CHECK CONSTRAINT [FK_PetGuides_Accounts]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK__ProductIm__ProdI__4F7CD00D] FOREIGN KEY([ProdId])
REFERENCES [dbo].[Products] ([ProdId])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK__ProductIm__ProdI__4F7CD00D]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Accounts] FOREIGN KEY([AccId])
REFERENCES [dbo].[Accounts] ([AccId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Accounts]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CateId])
REFERENCES [dbo].[Categories] ([CateId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductUnits] FOREIGN KEY([ProdId])
REFERENCES [dbo].[ProductUnits] ([UnitId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductUnits]
GO
