<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>vn.aptech.servlet.UserController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoriesServlet</servlet-name>
    <servlet-class>vn.aptech.servlet.CategoriesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>vn.aptech.servlet.AdminController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartController</servlet-name>
    <servlet-class>vn.aptech.servlet.CartController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>vn.aptech.servlet.PaymentController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountController</servlet-name>
    <servlet-class>vn.aptech.servlet.AccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoriesServlet</servlet-name>
    <url-pattern>/CategoriesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/CartController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountController</servlet-name>
    <url-pattern>/AccountController</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>UserController</welcome-file>
  </welcome-file-list>
  <ejb-local-ref>
    <ejb-ref-name>FeedbacksFacade</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>vn.aptech.sb.FeedbacksFacadeLocal</local>
    <ejb-link>Petcare-ejb.jar#FeedbacksFacade</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ProductsFacade</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>vn.aptech.sb.ProductsFacadeLocal</local>
    <ejb-link>Petcare-ejb.jar#ProductsFacade</ejb-link>
  </ejb-local-ref>
  <error-page>
    <!-- Missing resource -->
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <!-- Missing resource -->
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
</web-app>
